html,body{
    margin:0px;
    width:100%;
    height:100%;
    overflow:hidden;
    background:linear-gradient(aqua,blueviolet);
}
#canvas{
    position:absolute;
    width:100%;
    height:100%;
    z-index:8888;
}
.canvas{
    position:absolute;
    width:100%;
    height:100%;
    z-index:9999;
}

audio{
    display: none;
}
